<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="agreement.agreement_menu_root" model="ir.ui.menu">
        <field name="sequence">1000</field>
    </record>
    <record id="base.menu_management" model="ir.ui.menu">
        <field name="sequence">1005</field>
    </record>
    <record id="calendar.mail_menu_calendar" model="ir.ui.menu">
        <field name="sequence">1010</field>
    </record>
    <record id="purchase.menu_purchase_root" model="ir.ui.menu">
        <field name="sequence">1015</field>
    </record>
    <record id="contacts.menu_contacts" model="ir.ui.menu">
        <field name="sequence">1020</field>
    </record>
    <record id="crm.crm_menu_root" model="ir.ui.menu">
        <field name="sequence">1025</field>
    </record>
    <record id="base.menu_administration" model="ir.ui.menu">
        <field name="sequence">1030</field>
    </record>
    <record id="hr_expense.menu_hr_expense_root" model="ir.ui.menu">
        <field name="sequence">1035</field>
    </record>
    <record id="account.menu_finance" model="ir.ui.menu">
        <field name="sequence">1040</field>
    </record>
    <record id="hr.menu_hr_root" model="ir.ui.menu">
        <field name="sequence">1045</field>
    </record>
    <record id="stock.menu_stock_root" model="ir.ui.menu">
        <field name="sequence">1050</field>
    </record>
    <record id="maintenance.menu_maintenance_title" model="ir.ui.menu">
        <field name="sequence">1055</field>
    </record>
    <record id="mail.menu_root_discuss" model="ir.ui.menu">
        <field name="sequence">1060</field>
    </record>
    <record id="note.menu_note_notes" model="ir.ui.menu">
        <field name="sequence">1065</field>
    </record>
    <record id="ax4b_public_budget.menu_root" model="ir.ui.menu">
        <field name="sequence">1070</field>
    </record>
    <record id="base.menu_board_root" model="ir.ui.menu">
        <field name="sequence">1075</field>
    </record>
    <record id="ax4b_asset.menu_root" model="ir.ui.menu">
        <field name="sequence">1080</field>
    </record>
    <record id="hr_timesheet.timesheet_menu_root" model="ir.ui.menu">
        <field name="sequence">1085</field>
    </record>
    <record id="point_of_sale.menu_point_root" model="ir.ui.menu">
        <field name="sequence">1090</field>
    </record>
    <record id="mrp.menu_mrp_root" model="ir.ui.menu">
        <field name="sequence">1095</field>
    </record>
    <record id="project.menu_main_pm" model="ir.ui.menu">
        <field name="sequence">1100</field>
    </record>
    <record id="sale.sale_menu_root" model="ir.ui.menu">
        <field name="sequence">1105</field>
    </record>
    <record id="website.menu_website_configuration" model="ir.ui.menu">
        <field name="sequence">1110</field>
    </record>
    </odoo>